/*
    You can add your own custom styles here.
*/
body {
    background-image: url('https://s2.loli.net/2024/02/11/SsDb8MGi4H3QWC1.jpg');
    background-size: cover; // 覆盖整个页面
    background-position: center; // 图片居中显示
    background-attachment: fixed;
}
